---
---

<header class="w-full flex items-center justify-between">
    <a href="/" class="font-bold">
        jthiruveedula
    </a>
    <nav>
        <ul class="flex items-center gap-4">
            <li>
                <a href="/#projects">Projects</a>
            </li>
            <li>
                <a href="/#about">About</a>
            </li>
            <li>
                <a href="/#contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>
