---
---
<section class="h-[80vh] w-full flex flex-col items-center justify-center gap-8">
    <h1 class="text-6xl font-bold text-center">
        Hi, I'm jthiruveedula
    </h1>
    <p class="text-2xl text-center">
        I build things for the web.
    </p>
</section>
